.home {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settingsSvgrepoCom1Icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.vectorIcon {
  width: 20px;
  position: relative;
  height: 20px;
  mix-blend-mode: normal;
}
.homeTitleBar1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 768px;
}
.homeTitleBar,
.readerClosedImage {
  align-self: stretch;
  overflow: hidden;
}
.homeTitleBar {
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
}
.readerClosedImage {
  position: relative;
  max-width: 100%;
  height: 70px;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.readerStatusDisplay {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0;
  box-sizing: border-box;
  min-width: 144px;
  max-width: 144px;
}
.div {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-width: 40px;
}
.readerStatusImageAndId {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xl);
}
.batteryPercentIcon,
.div1 {
  position: relative;
  flex-shrink: 0;
}
.div1 {
  width: 28px;
  display: flex;
  align-items: center;
  max-width: 28px;
}
.batteryPercentIcon {
  width: 24px;
  height: 12px;
  overflow: hidden;
}
.batteryPercentWifiStatus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.ledOffline {
  width: 24px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-silver-100);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.ledStatus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  font-size: var(--font-size-xs);
}
.ledStatusBatteryPercentWif {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 159px;
  text-align: right;
  font-size: var(--font-size-3xs);
}
.deviceStatus,
.readerOffline {
  display: flex;
  align-items: center;
}
.readerOffline {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-3xs);
}
.deviceStatus {
  width: 100%;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-orange);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-7xs) var(--padding-7xs)
    var(--padding-5xs);
  max-width: 375px;
  cursor: pointer;
}
.wifiOnIcon {
  width: 12px;
  height: 12px;
  object-fit: cover;
}
.ledReadyGreenBlinking,
.testRunningImage,
.wifiOnIcon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.ledReadyGreenBlinking {
  width: 24px;
  border-radius: var(--br-xl);
  background-color: var(--color-beige);
  height: 24px;
}
.testRunningImage {
  align-self: stretch;
  max-width: 100%;
  height: 70px;
  object-fit: cover;
}
.ledBlueOn,
.ledTestRunningBlue {
  border-radius: var(--br-xl);
  overflow: hidden;
}
.ledBlueOn {
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(-19.44deg, #006bb8, #86bde4);
  width: 20px;
  height: 20px;
}
.ledTestRunningBlue {
  width: 24px;
  position: relative;
  background-color: var(--color-lightblue);
  height: 24px;
  flex-shrink: 0;
}
.testErrorImage {
  width: 144px;
  position: relative;
  height: 70px;
  object-fit: cover;
}
.ledTestErrorYellow,
.ledYellowOn {
  border-radius: var(--br-xl);
  overflow: hidden;
}
.ledYellowOn {
  position: absolute;
  top: 2px;
  left: 2px;
  background: linear-gradient(-19.44deg, #e8c236, #fbdc3d);
  width: 20px;
  height: 20px;
}
.ledTestErrorYellow {
  width: 24px;
  position: relative;
  background-color: #feeea3;
  height: 24px;
  flex-shrink: 0;
}
.batteryPercentWifiStatusChild {
  width: 7px;
  position: relative;
  height: 13px;
}
.div9 {
  width: 19px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 19px;
}
.ledGreenOn {
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: var(--br-xl);
  background: linear-gradient(-19.44deg, #00b812, #89c58f);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.ledStatusTestCompleted {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-8xs);
  font-size: var(--font-size-xs);
  color: var(--color-black);
}
.batteryPercentWifiStatus7,
.deviceStatusParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.batteryPercentWifiStatus7 {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-29xl);
  max-width: 159px;
  text-align: right;
  font-size: var(--font-size-3xs);
  color: #e20000;
}
.deviceStatusParent {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-3xs);
}
.review {
  position: relative;
  font-weight: 500;
}
.reviewButton {
  width: 140px;
  border-radius: var(--br-9xs);
  background-color: var(--color-navajowhite);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  max-width: 140px;
}
.logout {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: center;
}
.logoutButton,
.reviewLogout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.logoutButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-xl);
  background-color: var(--color-navajowhite);
  width: 140px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
  max-width: 140px;
}
.reviewLogout {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-7xl);
}
.settingsMenuButtons {
  align-self: stretch;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm);
}
.desktop1,
.homeDevice5ConnectedReady,
.settingsMenuButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop1 {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xl) var(--padding-mini) var(--padding-11xl);
  gap: var(--gap-21xl);
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
}
.homeDevice5ConnectedReady {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-work-sans);
}
