@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.logoTmOrangeTransparent1Icon {
  height: 212px;
  width: 245px;
  position: relative;
  object-fit: cover;
  opacity: 1;
}
.logoTmOrangeTransparent1Icon.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.splash {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 778px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 260px 0;
  box-sizing: border-box;
}
