.wifiSvgrepoCom11 {
  width: 20px;
  position: relative;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.mapIcIcon {
  width: 19px;
  position: relative;
  height: 19px;
  object-fit: cover;
}
.wifiMapPinIc {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 41px;
}
.batteryIc1,
.div {
  position: relative;
}
.batteryIc1 {
  width: 30px;
  height: 16px;
  object-fit: cover;
}
.batteryPercentageIc {
  justify-content: flex-end;
  gap: var(--gap-8xs);
}
.batteryBar,
.batteryPercentageIc,
.batteryStatusBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.batteryStatusBar {
  width: 768px;
  justify-content: space-between;
  max-width: 768px;
}
.batteryBar {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-mini);
}
.line {
  width: 1440px;
  background-color: var(--color-white);
  height: 0.5px;
  overflow: hidden;
  flex-shrink: 0;
}
.homeIc,
.leftArrowPreviousPageIc {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
  background-image: url(/public/image41@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.leftArrowPreviousPageIc {
  background-image: url(/public/image5@2x.png);
}
.homePreviousPageButton {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 56px;
}
.wetPaper {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.settingsSvgrepoCom1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.wetPaperTitleBar1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
}
.wetPaperTitleBar {
  align-self: stretch;
  background-color: var(--color-black);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mini);
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-work-sans);
}
.wetPaperAVideoGif {
  width: 347px;
  position: relative;
  height: 195.2px;
}
.startTimer {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  font-family: var(--font-work-sans);
  color: var(--color-black);
  text-align: left;
}
.startTimerButton,
.startTimerButton1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
}
.startTimerButton1 {
  border: 0;
  padding: var(--padding-base) var(--padding-3xs);
  background-color: var(--color-navajowhite);
  width: 169px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  box-sizing: border-box;
}
.startTimerButton {
  align-items: flex-start;
}
.wetPaperDiv {
  width: 100%;
  align-items: center;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-71xl);
  max-width: 350px;
}
.bodyScreen,
.wetPaperADevice1,
.wetPaperDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bodyScreen {
  align-self: stretch;
  background-color: var(--color-white);
  height: 727px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  padding: var(--padding-26xl) var(--padding-mini) var(--padding-61xl);
  box-sizing: border-box;
}
.wetPaperADevice1 {
  width: 100%;
  position: relative;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-kokoro);
}
